@font-face {
  font-family: "SegoeUI";
  src: url("./fonts/SegoeUI.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  font-stretch: ultra-condensed;
  margin: 0;
  padding: 0;
  color: #020f1a;
  font-family: "SegoeUI";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*,
:after,
:before {
  box-sizing: inherit;
}

h1,
h2,
p {
  margin: 0;
}

.logo {
  margin-bottom: 80px;
}

.logo img {
  display: block;
  margin-bottom: 24px;
}

.logo span {
  font-family: "PT Serif", serif;
  font-size: 36px;
  font-weight: 700;
}

.wrapper {
  max-width: 780px;
  min-width: 340px;
  margin: auto;
}

.pane {
  background: #f7f9fa;
  margin-bottom: 32px;
  padding: 40px 100px 86px;
}

.title {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 30px;
}

.list {
  margin-bottom: 45px;
}

.list li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.list li:not(:last-child) {
  margin-bottom: 30px;
}

.list li img {
  padding: 0 10px;
}

footer {
  padding-left: 100px;
}

footer p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #9fa3a7;
}

.reloadButton {
  color: #40a642;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}

.reloadButton:hover {
  color: #328134;
  text-decoration: underline;
}

.blue {
  color: #178fff;
}

.reloadButton.blue:hover {
  color: #65b2fa;
}

.textDesc {
  font-size: 16px;
  margin-bottom: 40px;
}

.collapseItem {
  padding-left: 26px;
  position: relative;
}
.collapseItem:not(:last-child) {
  margin-bottom: 30px;
}

.collapseItem::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 8px;
  height: 8px;
  background: url("./Img/grey_dot.svg");
}

.accordion {
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  background: none;
  display: flex;
  border: none;
  justify-content: space-between;
  align-items: center;
}

.accordion:focus-visible{
  outline: none;
}

.accordion.isOpen {
  transition: margin 0.2s ease-in-out;
}

.accordion.isOpen img {
  transform: rotate(180deg);
}

.collapseBody {
  margin-top: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.collapseBody img {
  max-width: 100%;
  margin-bottom: 20px;
}

.collapseBody p {
  margin-bottom: 15px;
}

.collapseBody p span {
  background: #1e4587;
  color: #fff;
  padding: 1px 7px;
  font-weight: 700;
  border-radius: 5px;
}
.collapseBody p a {
  color: #178fff;
}

.collapseBody h3 {
  margin-bottom: 20px;
}

.collapseBody h4 {
  margin-bottom: 15px;
}
.link {
  color: #178fff;
  text-decoration: none;
}

.link.blue:hover {
  color: #65b2fa;
}
